:root {
  --dark-blue: #1a202c;
}

body {
  background: var(--dark-blue);
  padding: 0;
  margin: 0;
}

.clock-tick circle,
circle.clock-track-hide-overflow {
  fill: var(--dark-blue);
}

.clock-tick text {
  font-family: "Futura", "Helvetica Neue", helvetica, arial, sans-serif;
  /* font-size set programatically relative to the size of the clock arms*/
  fill: #edf2f7;
  text-anchor: middle;
}
